<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<head>
    <title>SBDIV_Form</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <script type="text/javascript" src="/js/form.js"></script>
</head>

<body>
    <form action="/form" enctype="multipart/form-data" method="post">

        <div class="rows">
            <div class="rowsTitle">Markers Form - SBDIV</div>
            <div class="row">
                <label class="info">Route Information</label>
                <input type="text" name="VideoID" placeholder="Video ID or Name" required>
                <input type="text" name="Route" placeholder="Route(Optional)">
                <input type="text" name="RouteDescription" placeholder="Description(Optional)">
                <br>
            </div>

            <% for (var i = 0; i<quantity ;i++) { %>
            <div class="row">
                <% if ( i == 0) { %>
                <label class="info">Marker</label>
                <% } %>
                <input type="text" name="Title" placeholder="Title" required>
                <input type="number" step="any" name="Lat" placeholder="Latitude" required>
                <input type="number" step="any" name="Lng" placeholder="Longitude" required>
                <input type="text" name="Description" placeholder="Description(Optional)">
                <select name="groupType" class="dropdown">
                    <option value="Building">Building</option>
                    <option value="Pier">Pier</option>
                    <option value="Beach">Beach</option>
                    <option value="Typhoon shelters">Typhoon shelters</option>
                    <option value="Others">Others</option>
                </select>
                
                <% if ( i != 0) { %>
                <input type="button" name="deleteRowButton" onclick="document.querySelector('.rows').removeChild(this.parentNode);updateCountMarker()" class="deleteRowButton" value="Delete">
                <% } %>
                <br>
            </div>
            <% }  %>
        </div>

        <div class="btn-group">
            <input type="button" id="countMarker" disabled=true style="display:none" title="Display the quantity of Markers">
            <input type="button" onclick="addRow()" class="addRow" value="+" title="Add more markers" style="font-size: xx-large;">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>